.quarto-title-block .quarto-title-banner {
  height: 500px;
}

#title-block-header > div.quarto-title-banner.page-columns.page-full > div {
  padding: 15%;
}

.subtitle.lead {
  text-align: center;
  background-color: rgba(252, 252, 252, 0.85);
  font-size: 1.75rem;
}


.battle-teaser {
  border-color: #07342a;
  border-width: thin;
  border-style: solid;
  border-radius: 0rem;
  padding: .5rem;
  margin: .5rem;
}

.battle-teaser > h3 {
  text-align: center;
}


figcaption {
  text-align: center;
  padding-left: 2em;
  padding-right: 2em;
}
}
